doctype html
html
  head
    meta(charset="utf-8") 
    title= siteTitle
    meta(name="description",content=siteDescription)
    meta(name="keywords",content=siteKeywords)
    meta(name="robots",content="index, follow")
    meta(name="author",content="Dominik Gmiterko (Ienze)")
    meta(property="og:title",content=siteTitle)
    meta(property="og:description",content=siteDescription)
    meta(property="og:type",content="website")
    meta(name="viewport",content="width=device-width, initial-scale=1, user-scalable=no")
  body
    block content
    #ui
      
    block styles
      link(rel='stylesheet',type='text/css',href='css/app.css')
    block scripts
      script(src='js/hexi.min.js')
      script(src='js/diffsync.min.js')
      script(src='https://cdn.socket.io/socket.io-1.4.5.js')
      script(src='js/app.min.js')