/*
 * Settings
 */
$foundation-palette: (
  primary: #7444af,
  secondary: #767676,
  success: #3adb76,
  warning: #ffae00,
  alert: #cc4b37,
);

/*
 * Include foundation
 */
@import "~foundation-sites/scss/foundation";
@include foundation-global-styles;
@include foundation-flex-grid;
@include foundation-typography;
@include foundation-forms;
@include foundation-button;
@include foundation-table;

/*
 * Custom styles
 */
canvas {
	display: block;
}
#ui { 
	position : absolute;
	left : 0;
	top : 0;
	width : 100%;
	height : 100%;
	z-index: 1;
	pointer-events: none;

	* {
		pointer-events: all;
	}

	.ui-rooms {
		#rooms {
			tr:not(.noRooms) {
				cursor: pointer;
			}
			
			tr.noRooms {
				color: $secondary-color;
			}
		}
	}

	.ui-questionInput {
		form {
			position: absolute;
			bottom: 5%;
			left: 50%;
			width: 400px;
			margin-left: -200px;

			input {

				&[name="answer"] {
					animation-duration: 1s;

					&.correct {
						animation-name: glow-green;
					}

					&.incorrect {
						animation-name: glow-red;
					}
				}

				&[type="select"] {

				}
			}
		}
	}
}

@keyframes glow-green {
	from {
		background: rgba(0, 255, 0, 1.0);
		box-shadow: 0px 0px 9px rgba(0, 255, 0, 1.0);
	}
	to {
		box-shadow: 0px 0px 9px rgba(0, 255, 0, 0.0);
	}
}

@keyframes glow-red {
	from {
		background: rgba(255, 0, 0, 1.0);
		box-shadow: 0px 0px 9px rgba(255, 0, 0, 1.0);
	}
	to {
		box-shadow: 0px 0px 9px rgba(255, 0, 0, 0.0);
	}
}