body {
	background: black;
}

body, canvas {
	padding: 0;
	margin: 0;
}

canvas {
	display: block;
}

#ui { 
	position : absolute;
	left : 0;
	top : 0;
	width : 100%;
	height : 100%;
	z-index: 1;
	pointer-events: none;
}

#ui form {
	position: absolute;
	bottom: 5%;
	left: 50%;
	width: 400px;
	margin-left: -200px;

	display: flex;
	flex-direction: row;
	pointer-events: all;
}

#ui form input {
	font-size: 1.3em;
}

#ui form input[name="answer"] {
	flex: 1 1 auto;
	animation-duration: 1s;
}

#ui form input[name="answer"].correct {
	animation-name: glow-green;
}

#ui form input[name="answer"].incorrect {
	animation-name: glow-red;
}

@keyframes glow-green {
    from {
    	box-shadow: 0px 0px 8px rgba(0, 255, 0, 1.0);
    }
    to {
    	box-shadow: 0px 0px 8px rgba(0, 255, 0, 0.0);
    }
}

@keyframes glow-red {
    from {
    	box-shadow: 0px 0px 8px rgba(255, 0, 0, 1.0);
    }
    to {
    	box-shadow: 0px 0px 8px rgba(255, 0, 0, 0.0);
    }
}

#ui form input[type="select"] {

}