<div class="ui-rooms">
	<div class="row">
		<div class="small-12 columns">
			<table  class="hover">
				<thead>
					<tr>
						<th>Miestnosti</th>
						<th></th>
					</tr>
				</thead>
				<tbody id="rooms"></tbody>
				<tfoot>
					<tr>
						<td colspan="2">Vytvoriť miestnosť</td>
					</tr>
					<tr>
						<td colspan="2">
							<form class="row" id="formCreateRoom">
								<div class="columns">
									<input type="text" name="name" placeholder="Meno miestnosti" />
								</div>
								<div class="shrink columns">
									<input type="submit" class="button" value="Vytvoriť" />
								</div>
							</form>
						</td>
					</tr>
				</tfoot>
			</table>
		</div>
	</div>
</div>