<div class="ui-questionInput">
	<form id="formQuestion" class="row">
		<div class="columns">
			<input type="number" name="answer" />
		</div>
		<div class="shrink columns">
			<input type="submit" class="button" />
		</div>
	</form>
</div>