body {
    font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

#top {
    position: absolute;
    top: 0; left: 0; right: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    z-index: 2;
    padding-top: 0.5em;
}

#top #area-name {
    color: white;
    font-size: 1.4em;
}